.brandContainer {
    display: flex;
    align-items: center;

    /* border: 1px solid white; */

}

.sytleSoftballIcon{
    color: yellow;
    margin-right: 25px
}

.softball{
    font-size: 50px;
    color: white;
    /* border: 1px solid; */
  
}
.whiteFont {
    color: white;
}

.winningEdge{
   
    padding: 0px;
    margin: 0px;
    text-align: right;
    position: relative;
    bottom: 10px;
    /* border: 1px solid; */
   
}

.azwe{
    position: relative;
    top: 10px;
}